@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body,
p,
a,
div,
span,
button {
  font-family: "Russo One", sans-serif;
  font-size: 14px; /* Fonte padrão */
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 32px; /* Ajuste o tamanho conforme necessário */
  text-align: center;
  margin: 2rem 0; /* Ajuste o espaçamento conforme necessário */
}

h2 {
  font-family: "Russo One", sans-serif;
  font-size: 28px; /* Ajuste o tamanho conforme necessário */
  text-align: center;
  margin: 2rem 0 1rem 0; /* Ajuste o espaçamento conforme necessário */
}

button {
  font-family: "Russo One", sans-serif;
  font-size: 14px; /* Ajuste o tamanho conforme necessário */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita a rolagem horizontal */
  background: #f7f5f5;
}

/* Estilos Específicos para o Carousel */
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease;
  box-sizing: border-box;
}

/* Estilos para Grid */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  justify-content: flex-start;

  @media (max-width: 768px) {
    padding: 1rem;
    gap: 0.5rem;
  }
}

.game-card {
  flex: 1 1 calc(25% - 1rem);
  max-width: calc(25% - 1rem);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    flex: 1 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
  }

  @media (max-width: 768px) {
    flex: 1 1 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
  }

  @media (max-width: 480px) {
    flex: 1 1 calc(100% - 0.5rem);
    max-width: calc(100% - 0.5rem);
  }
}
